*{
    margin: 0 auto; 
}
#wrapper{
    width: 1200px;
    background-color: #8a2be2;
}
#header{
    width:1200px;
    height: 150px;
    background-color: #ff00a6;
}
#carrossel{
    width: 1200px;
    height: 300px;
    background-color: #ffff00;
}
main{
    background-color: #26D093;
    margin-bottom: 20px;
}
.quad{
    width: 275px;
    height: 275px;
    background-color: #f00;
    float:left;
    margin:20px 0px 0px 20px ;
}
footer{
    width:1200px;
    height: 300px;
    background-color: #0A079A;
    clear:both;
}