/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width:1199px){
    body{
        background-color: red;
    }
    .lg{
        display:block;
    }
    .sm, .md, .xs, .xl{
        display: none;
    }
    .exemplo{
        width: 35%;
        height: 60px;
        background-color: bisque;
   }
}