/*     Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) AND (max-width:991.9px) {
    body{
        background-color: orange;
    }

    .md{
        display:block;
       }
    .sm, .xs, .lg, .xl{
        display: none;
    }
    .exemplo{
        width: 20%;
   }
}